<div class="row">
 
  <div class="col-md-12 col-xs-12">

    <div class="col-md-2 hidden-xs">
      <%= image_tag(user.photo_url, size: "90x100", title: user.name) %>
    </div>

    <div class="col-md-8"> 
      <div class="row">
        <%= link_to user.name, user %>
        <p> <%= user.points_obtained %> pontos. </p>
      </div>

    </div>
 
  </div>

</div>

<hr>