<% provide(:title, 'Classificação') %>
<h1>Pessoas influentes</h1>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <!--<li>-->
      <%= render user %>
    <!--</li>-->
  <% end %>
</ul>

<%= will_paginate %>