<% provide(:title, "Eu quero isso") %>

<div class="row rocket-container">
  <div class="col-md-6 col-md-offset-2 hidden-xs">
    <%= image_tag("/images/rocket.png", size: "400x500") %>
  </div>
  <div class="col-md-3 rocket-facebook-button">
    <%= link_to "/auth/facebook", class: "btn btn-block btn-social btn-facebook"  do %>
      <span class="fa fa-facebook"></span> Entrar com Facebook
    <% end %>
  </div>
</div>



