<% provide(:title, 'Avalie') %>

<div class="row">
    <h1>Avalie</h1>
</div>

<div class="row">

  <div class="col-md-offset-3 col-md-6">
    <%= form_for(@rate) do |f| %>
      <div class="field">
        <%= f.select(:rate_number, ['Ruim', 'Regular', 'Bom', 'Ótimo'].reverse, {}, { :class => 'styled-select slate' }) %>
        <hr>
        <%= f.text_area :rate_description, placeholder: "Fale um pouco mais o que você achou..." %>
      </div>
      <br>
      <%= f.submit "Avaliar", class: "btn btn-primary" %>

    <% end %>
  </div>
  
</div>