<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= photo_for @user %>
      <h1><%= @user.name %></h1>
      <span><%= link_to "Meu perfil", @user %></span>
      <span><%= pluralize(@user.microposts.count, "post") %></span>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>

      <div class="hidden-xs">
        <% if @users.any? %>
          <div class="user_avatars">
            <% @users.each do |user| %>
              <%= link_to photo_for(user), user %>
            <% end %>
          </div>
        <% end %>
      </div>

    </section>
  </aside>
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users follow">
        <%= render @users %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>