<%= link_to photo_for(current_user), current_user %>
<h1>
  <%= current_user.name %>
</h1> 

<span><%= link_to "Meu perfil", current_user %></span>
<span><%= pluralize(current_user.microposts.count, "post") %></span>