<h2>Política de privacidade para <a href='http://furb-socialhero.herokuapp.com/'>Social Hero</a></h2>
<p>Todas as suas informações pessoais recolhidas, serão usadas para o ajudar no projeto criado para validar o Trabalho de Conclusão de Curso apresentado ao curso de graduação em Sistemas de Informação do Centro de Ciências Exatas e Naturais da Universidade Regional de Blumenau como requisito parcial para a obtenção do grau de Bacharel em Sistemas de Informação.
</p>
<p>A garantia da confidencialidade dos dados pessoais dos utilizadores do nosso site é importante para o Social Hero.</p>

<p>A informação pessoal recolhida pode incluir o seu nome, e-mail, e perfil do Facebook.</p>
<p>O uso do Social Hero pressupõe a aceitação deste Acordo de privacidade. 