<li id="micropost-<%= micropost.id %>">
  <%= link_to photo_for(micropost.user), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content"><%= micropost.content %></span>
  <%= image_tag micropost.picture.url if micropost.picture? %>
  <span class="timestamp">
    Postado há <%= time_ago_in_words(micropost.created_at) %>.
    <% if current_user?(micropost.user) %>
      <%= link_to "Remover", micropost, method: :delete,
                                       data: { confirm: "Tem certeza?" } %>
    <% end %>
  </span>
</li>