<% @player_stats.badges.each do |badge| %>
  <div class="col-md-4 col-xs-4">
    <%= image_tag(badge['badge_photo'], size: "60x60", title: badge['badge_name']) %>
  </div>
<% end if @player_stats.badges.present? %>