<h4>Minhas conquistas</h4>

<div class="row player_level">
  <div class="col-md-3 col-xs-4">
    <%= image_tag(@player_stats.level_photo, size: "60x60", title: @player_stats.level_name) %>
  </div>
  <div class="col-md-9">
    <p id="level_name">
      <strong> <%= @player_stats.level_name %> </strong>
    </p>
    <p id="player_points"> <%= @player_stats.points %> pontos </p>
  </div>
</div>

<div class="row player_badges"> 
  <%= render 'shared/gk/badges' %>
</div> 